
body {
    margin: 0;
    border: 0;
}

#videoWrapper {
    position: fixed;
    height: 100vh;
    width: 100vw;
    

}

#martin-stream {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.options {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 50px;

}


.icon {
    -webkit-filter: invert(100%);
    height: 50px;
    width: 50px;
}

:hover.icon {
height: 55px;
width: 55px;
}
