
html {
    height: 100vh;
    width: 100vw;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    position: fixed;
}

.marty-hardhat {
    max-height: 100vh;
    min-width: 0;
    display: flex;
    flex-wrap: wrap;
    object-fit: scale-down;
    display: flex;
    justify-content: flex-start;
}

.hero-container {
    display: flex;
    height: 100%;
    width: 100%;
}



.text-container {
    display: inline-flexbox;
    flex: 2;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    padding-right: 10px;
    text-align: center;
}


h1 {
    color: #f69709;
    font-size: 100px;
    margin-top: 20%;
    margin-bottom: 10px;
}

button {
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
    border-style: solid;
    border-color: #f69709;
    color: black;

}

:hover.main-button {
    background-color: #f69709;
    color: white;
    cursor: pointer;
}